test_flows.json
[{"id":"da5dc1b9.22ef9","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"b74c2391.febb5","type":"template","z":"da5dc1b9.22ef9","name":"docker-test.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style type=\"text/css\">\n            {{{payload.css}}}\n        </style>\n    </head>\n    <body>\n        <div id='a1'>\n            docker-test/projects使用中\n        </div>\n    </body>\n</html>","x":440,"y":180,"wires":[["c605bd64.ef474"]]},{"id":"930e3272.a749d","type":"template","z":"da5dc1b9.22ef9","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#a1 {\n  background-color:  #4734783;\n  padding: 20px;\n  height: 100px;\n}\n","x":270,"y":180,"wires":[["b74c2391.febb5"]]},{"id":"e7511386.3ecfb","type":"http in","z":"da5dc1b9.22ef9","name":"","url":"/docker-test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["930e3272.a749d"]]},{"id":"c605bd64.ef474","type":"http response","z":"da5dc1b9.22ef9","name":"","x":590,"y":180,"wires":[]},{"id":"9152e160.7b6b5","type":"comment","z":"da5dc1b9.22ef9","name":"色を付けてみました","info":"","x":110,"y":140,"wires":[]}]